<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">


    {{#each repos as |repo|}}
      <!-- first generate the header which contains the repo name -->

      <div class="panel-heading" role="tab" id="header-{{repo.id}}">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#repo-{{repo.id}}" aria-expanded="false" aria-controls="repo-{{repo.id}}">
              <i class="glyphicon glyphicon-plus-sign"></i>   {{repo.name}}
            </a>
          </h4>
      </div>

      <!-- now the content -->

      <div id="repo-{{repo.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="header-{{repo.id}}">
        <div class="panel-body">
          <!-- description -->
          {{#if repo.description}}
            <p>{{repo.description}}</p>
          {{/if}}

          <!-- URL -->
          {{#if repo.full_url}}
            <p><a href= {{repo.full_url}}>{{repo.full_url}}</a></p>
          {{/if}}

          {{#if repo.tags}}
            Tag(s):
            {{#each repo.tags as |tag|}}
              <li>{{tag.name}}</li>
            {{/each}}
          </ul>
          {{/if}}

          <div class="panel-group" id="nested">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                   <a data-toggle="collapse"
                       data-parent="#nested" href="#nested-update-{{repo.id}}">
                       Update repository details
                        </a>
                  </h4>
              </div>
              <!--/.panel-heading -->
              <div id="nested-update-{{repo.id}}" class="panel-collapse collapse">
                <div class="panel-body">
                  <fieldset>
                    <form id="update-repo" repoid="{{repo.id}}">
                      <input type="text" name="updateRepo[description]" placeholder="<description>">
                      <input type="text" name="updateRepo[full_url]" placeholder="<url>">
                      <input type="text" name="updateRepo[tag]" placeholder="<tag-name>">
                      <button type="submit" name="submit" class="btn">Update this repo</button>
                    </form>
                  </fieldset>

                </div>
                <!--/.panel-body -->
              </div>
              <!--/.panel-collapse -->
            </div>
            <!-- /.panel -->

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
         <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-remove-{{repo.id}}">
         Delete this repository
         </a>
      </h4>
              </div>
              <!--/.panel-heading -->
              <div id="nested-remove-{{repo.id}}" class="panel-collapse collapse">
                <div class="panel-body">
                  Really?
                  <button id="delete-repo" class="btn btn-default" repoid="{{repo.id}}">Okay, then!</button>
                </div>
                <!--/.panel-body -->
              </div>
              <!--/.panel-collapse -->
            </div>
            <!-- /.panel -->


          </div>
          <!-- /.panel-group -->

          <!-- <button id="delete-repo" class="btn btn-default" repoid="{{repo.id}}">Remove this repo</button> -->

        </div>
      </div>

    {{/each}}
    </div>
  </div>
